<!-- This is the editor for the website -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Cherry OneDev</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.13.1/ace.js" integrity="sha512-IQmiIneKUJhTJElpHOlsrb3jpF7r54AzhCTi7BTDLiBVg0f7mrEqWVCmOeoqKv5hDdyf3rbbxBUgYf4u3O/QcQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>

<body class="select-none">
  <div id="header"
    class="text-xl p-4 bg-black backdrop-blur-sm fixed top-0 left-0 right-0 bg-opacity-0 z-20 bg-opacity-80">
    <div class="flex">
      <div class="w-full pr-auto">
        <img src="/Cherry OneDev Icons/Cherry OneDev-logos_white.png" class="max-h-14 cursor-pointer"
          onclick="window.location = '/'" />
      </div>
      <div id="menuButton"
        class="pl-auto grid gap-2 hover:gap-3 transition-all duration-300 w-10 my-auto cursor-pointer"
        onclick="openMenu()">
        <div class="bg-white rounded-full h-1 w-full"></div>
        <div class="bg-white rounded-full h-1 w-full"></div>
        <div class="bg-white rounded-full h-1 w-full"></div>
      </div>
    </div>
  </div>

  <div id="menu"
    class="fixed top-0 bottom-0 -right-full transition-all duration-300 p-4 bg-gray-700 w-fit z-20 text-white bg-opacity-80 backdrop-blur-sm">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-12 h-12 cursor-pointer hover:bg-slate-800 hover:text-indigo-500 transition-all rounded-xl"
      onclick="closeMenu()">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
    <div class="w-full mt-8 grid text-gray-400 text-3xl gap-4">
      <a href="/about-us.html"
        class="border-b-4 border-gray-400 hover:bg-slate-800 hover:text-white hover:border-indigo-500 transition-all cursor-pointer p-2 text-center">About
        Us</a>
      <a href="/contact-us.html"
        class="border-b-4 border-gray-400 hover:bg-slate-800 hover:text-white hover:border-indigo-500 transition-all cursor-pointer p-2 text-center">Contact
        Us</a>
      <a
        class="border-b-4 border-gray-400 hover:bg-slate-800 hover:text-white hover:border-indigo-500 transition-all cursor-pointer p-2 text-center">Send
        a Donation</a>
    </div>
  </div>
  
  <div id="editor" class="hidden h-screen pt-24 bg-slate-900 p-6 gap-4">
    <div class="w-full p-2 px-4 rounded-xl border-2 border-gray-800 bg-black grid grid-cols-3">
      <div id="title" class="text-4xl font-bold text-white truncate"></div>
      <button onclick="runApp()" class="rounded-xl bg-green-600 px-4 py-2 font-bold text-white hover:bg-green-500 transition-all duration-300 flex justify-center w-fit mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-white mr-2 mt-[2px]">
          <path fill-rule="evenodd" d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z" clip-rule="evenodd" />
        </svg>
        <p class="text-xl text-center">Run</p>
        <div class="absolute z-20 pt-full opacity-0 hover:pt-12 pt-8 hover:opacity-100 transition-all duration-300 delay-300">
          <div class="bg-black p-2 border-2 rounded-xl border-gray-700 shadow-xl flex space-x-1">
            <div class="p-1 text-md rounded-xl border-2 border-gray-500">CTRL</div>
            <div class="p-1 text-md rounded-xl border-2 border-gray-500">Enter</div>
          </div>
        </div>
      </button>
      <button onclick="downloadFile()" class="rounded-xl bg-cyan-500 px-4 py-2 font-bold text-white hover:scale-110 transition-all duration-300 flex justify-center ml-auto">
        <p class="text-xl text-center">Download</p>  
      </button>
    </div>
    <div class="flex space-x-8 h-[88%] mt-3 w-full">
      <div id="input" class="border-2 border-gray-500 rounded-xl resize-none p-2 w-full h-full"></div>
      <object id="output" data="" class="bg-white border-2 border-gray-500 rounded-xl w-full h-full overflow-y-scroll"></object>
    </div>
  </div>

  <div id="choice"
    class="fixed top-0 left-0 right-0 bottom-0 transition-all duration-300 z-0 flex items-center justify-center bg-blue-500">
    <div id="container" class="grid transition-all duration-700 ease-in-out w-full text-center opacity-0">
      <div id="content" class="mt-12 text-white text-5xl font-bold"></div>
      <input id="settings" type="text" placeholder="Title"
        class="p-2 rounded-xl border-2 border-gray-200 bg-white h-12 min-w-1/2 text-center mt-12 mx-auto text-xl"
        onkeydown="if (event.keyCode == 13) { addTitle(this.value); return false; }" autofocus>
    </div>
  </div>
  <script src="project-editor.js"></script>
  <script src="../menu.js"></script>
  <script>
    setTimeout(openSettingsForApp, 10);
  </script>
  <style>
    ::-webkit-scrollbar {
      width: 0;
    }
  </style>
</body>

</html>